.filter-div {
    text-align: right;
}

.filter-div select {
    font-size: 18px;
    color: var(---title-color);
    background-color: rgb(40, 40, 40);
    border: none;
    border-radius: 0 0 10px 10px;
    padding: 15px 25px;
    cursor: pointer;
}

.filter-div select:hover {
    background-color: rgb(30, 30, 30);
}