/* =========    GENERAL STYLES     ========= */
:root {
    ---background-color: rgb(52, 52, 52);
    ---title-color: white;
    ---text-color: rgb(227, 227, 227);
    ---button-background-color: rgb(20, 20, 20);
    ---button-hover-background-color: rgb(10, 10, 10);
}

* {
    margin: 0;
}

body {
    background-color: var(---background-color);
    color: var(---text-color);
    font-family: sans-serif;
}

.container {
    text-align: center;
    width: min(800px, 85vw);
    margin-inline: auto;
}

h1,
h2,
h3 {
    color: var(---title-color);
}

a {
    text-decoration: none;
}

.table-container {
    overflow-x: auto;
}

table {
    border: 3px black solid;
    border-radius: 10px;
    margin-inline: auto;
    margin-top: 25px;
}

/* =========    HEADER     ========= */
header {
    padding-block: 30px;
    background-color: rgb(40, 40, 40);
}

header .container nav {
    margin-bottom: 20px;
}

header .container nav a {
    color: var(---title-color);
    background-color: var(---button-background-color);
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    margin-block: 2.5px;
    border-radius: 10px;
    display: inline-block;
}

header .container a:hover,
header .container .add-button-div span:hover,
header .container .add-button-div .buttons button:hover {
    background-color: var(---button-hover-background-color);
}

header .container .add-button-div {
    position: relative;
}

header .container .add-button-div span {
    font-size: 30px;
    border-radius: 30px;
    display: inline-block;
    padding: 10px 50px;
    font-weight: 700;
}

header .container .add-button-div span,
header .container .add-button-div .buttons button {
    background-color: var(---button-background-color);
    cursor: pointer;
}

header .container .add-button-div .buttons {
    display: none;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 100%);
    flex-direction: column;
}

header .container .add-button-div .buttons.active {
    display: flex;
}

header .container .add-button-div .buttons button {
    padding: 20px;
    font-size: 15px;
    color: var(---text-color);
    border: none;
}

/* =========    MAIN     ========= */
main .container section {
    padding-block: 200px;
}

main .container #whereIsTheMoneySection {
    padding-top: 100px;
}

main .container h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

main .container .cards {
    display: flex;
    justify-content: center;
    gap: 15px 15px;
    flex-wrap: wrap;
}

main .container .card {
    border: 3px black solid;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    width: 150px;
}

main .container .card p {
    font-size: 28px;
}

main .container #investmentsSection>h3 {
    margin-bottom: 10px;
    font-size: 22px;
}

/* =========    MODAL     ========= */
.modal {
    background-color: rgba(0, 0, 0, 0.521);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.modal.active {
    display: flex;
}

.modal .container {
    background-color: var(---background-color);
    border-radius: 10px;
    margin-block: auto;
    padding: 30px;
    box-sizing: border-box;
}

.modal .container h2 {
    margin-bottom: 15px;
}

.modal .container form .transaction-info {
    width: min(300px, 100%);
    margin-inline: auto;
}

.modal .container form .transaction-info div {
    margin-bottom: 20px;
}

.modal .container form .transaction-info div label {
    text-align: left;
    display: block;
    font-weight: 700;
}

.modal .container form .transaction-info div input,
.modal .container form .payment-methods details input {
    background-color: rgb(90, 90, 90);
    color: var(---text-color);
    font-size: 16px;
    padding-inline: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 50px;
    display: block;
}

.modal .container form button {
    background-color: rgb(90, 90, 90);
    font-size: 20px;
    font-weight: 700;
    color: var(---title-color);
    width: min(300px, 100%);
    height: 50px;
    border: none;
    border-radius: 10px;
    transition: background-color .3s;
}

.modal .container form button:hover {
    background-color: rgb(70, 70, 70);
    cursor: pointer;
}

/* add expense */
.modal .container form .payment-methods {
    width: min(300px, 100%);
    margin-inline: auto;
    margin-bottom: 20px;
}

.modal .container form .payment-methods details {
    padding-block: 10px;
    background-color: rgb(70, 70, 70);
    border-radius: 10px;
    text-align: left;
    margin-bottom: 10px;
    cursor: pointer;
}

.modal .container form .payment-methods details:hover {
    background-color: rgb(80, 80, 80);
}

.modal .container form .transaction-info p {
    font-size: 25px;
}